[submodule "modules/local/quarto"]
	path = modules/local/quarto
	url = https://github.com/chusj-pigu/wf-modules.git
	branch = quarto
[submodule "modules/local/minimap2"]
	path = modules/local/minimap2
	url = https://github.com/chusj-pigu/wf-modules.git
	branch = minimap2
[submodule "modules/local/dorado"]
	path = modules/local/dorado
	url = https://github.com/chusj-pigu/wf-modules.git
	branch = dorado
[submodule "modules/local/samtools"]
	path = modules/local/samtools
	url = https://github.com/chusj-pigu/wf-modules.git
	branch = samtools
