manifest {
    name            = 'nf-core-cnvanalysis'
    author          = """msagniez""" // The author field is deprecated from Nextflow version 24.10.0, use contributors instead
    contributors    = [
        // TODO nf-core: Update the field with the details of the contributors to your pipeline. New with Nextflow version 24.10.0
        [
            name: 'msagniez',
            affiliation: '',
            email: 'melanie.sagniez@gmail.com',
            github: 'github.com/msagniez',
            contribution: ['author', 'maintainer'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ]
    ]
    homePage        = 'https://github.com/wgs_CNV_analysis'
    description     = """CNV analysis pipeline for WGS data."""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.04.2'
    version         = '1.0.0dev'
    doi             = ''
}