process {
    // CPU Definitions
    withLabel:process_low_cpu {
        cpus = { check_max( 1 * task.attempt, 'cpus' ) }
    }
    withLabel:process_low_medium_cpu {
        cpus = { check_max( 2 * task.attempt, 'cpus' ) }
    }
    withLabel:process_medium_cpu {
        cpus = { check_max( 4 * task.attempt, 'cpus' ) }
    }
    withLabel:process_medium_high_cpu {
        cpus = { check_max( 8 * task.attempt, 'cpus' ) }
    }
    withLabel:process_high_cpu {
        cpus = { check_max( 16 * task.attempt, 'cpus' ) }
    }
    withLabel:process_very_high_cpu {
        cpus = { check_max( 32 * task.attempt, 'cpus' ) }
    }
}