process {
    // Memory Definitions
    withLabel:process_low_memory {
        memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    }
    withLabel:process_low_medium_memory {
        memory = { check_max( 20.GB * task.attempt, 'memory' ) }
    }
    withLabel:process_medium_memory {
        memory = { check_max( 40.GB * task.attempt, 'memory' ) }
    }
    withLabel:process_medium_high_memory {
        memory = { check_max( 60.GB * task.attempt, 'memory' ) }
    }
    withLabel:process_very_high_memory {
        memory = { check_max( 300.GB * task.attempt, 'memory' ) }
    }
}