/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Nextflow config file for Digital Research Alliance of Canada Narval Cluster for 
the SLURM login nodes
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    array = 2
    executor = 'slurm'
    time = { check_max( 1.h * task.attempt, 'time' ) }
    memory = { check_max( 2.GB * task.attempt, 'memory' ) }
    cpus = { check_max( 1 * task.attempt, 'cpus' ) }
    withLabel:process_gpu {
        containerOptions = "--nv"
        clusterOptions = "--gpus-per-node=1"
    }
}

executor {
    pollInterval = '60 sec'
    submitRateLimit = '60/1min'
    queueSize = 100
}

params {
        max_memory='249G'
        max_cpus=64
        max_time='168h'
        publish_dir_mode = 'link'
}
apptainer {
        enabled=true
        autoMounts=true
        runOptions = "-B /project/ctb-noncodo/Platform/references"
        libraryDir = "$HOME/scratch/apptainer_lib/"
        cacheDir = "$HOME/scratch/apptainer_cache/"
}