/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Nextflow config file for Digital Research Alliance of Canada Narval Cluster for 
the SLURM login nodes
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    config_profile_contact     = "Melanie Sagniez (@msagniez)"
    config_profile_description = "The Digital Research Alliance of Canada Narval Cluster for the SLURM login nodes"
    config_profile_url         = "https://ccdb.alliancecan.ca/"
    singularity.cacheDir       = "/$USER/scratch/nextflow_software_cache/singularity"
    publish_dir_mode           = 'link'
    max_memory                 = '249G'
    max_cpus                   = 64
    max_time                   = '168h'
}

singularity {
    enabled     = true
    // the default is 20 minutes and fails with large images
    pullTimeout = "3 hours"
}

process {
    // this is to avoid errors for missing files due to shared filesystem latency
    maxRetries    = 3
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    cache         = "lenient"
    afterScript   = "sleep 60"
    array = 100
    executor = 'slurm'
}

executor {
    name            = "slurm"
    queueSize       = 2000
    submitRateLimit = "10/1sec"
    exitReadTimeout = "30 min"
    jobName         = {
        task.name
            .replace("[", "(")
            .replace("]", ")")
            .replace(" ", "_")
    }
}