/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Nextflow config file for Digital Research Alliance of Canada Narval Cluster for 
the SLURM login nodes
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    executor = 'slurm'
    array = 96
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'ignore' }
}

executor {
    name            = "slurm"
    pollInterval    = '60 sec'
    submitRateLimit = '60/1min'
    queueSize       = 100
}

params {
        max_memory='249G'
        max_cpus=64
        max_time='168h'
        publish_dir_mode = 'link'
}
apptainer {
        enabled=true
        autoMounts=true
        runOptions = "-B /project/ctb-noncodo/Platform/references"
        libraryDir = "$HOME/scratch/apptainer_lib/"
        cacheDir = "$HOME/scratch/apptainer_cache/"
        pullTimeout = '60 min'
}