/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Nextflow config file for Digital Research Alliance of Canada Narval Cluster for 
the SLURM login nodes
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    singularity.cacheDir       = "/home/$USER/nextflow_software_cache/singularity"
    publish_dir_mode           = 'link'
    max_memory                 = '20G'
    max_cpus                   = 10
    max_time                   = '2h'
    maxForks                   = 2
}

singularity {
    enabled     = true
    // the default is 20 minutes and fails with large images
    pullTimeout = "3 hours"
}