/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Nextflow config file for Digital Research Alliance of Canada Narval Cluster for 
the SLURM login nodes
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    singularity.cacheDir       = "/home/$USER/nextflow_software_cache/singularity"
    publish_dir_mode           = 'link'
    max_memory                 = '100G'
    max_cpus                   = 32
    max_time                   = '168h'
    maxForks                   = 5
}

singularity {
    enabled     = true
    // the default is 20 minutes and fails with large images
    pullTimeout = "3 hours"
}