/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/oncoseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
// -----------------------------
// Process resource limits for test
// -----------------------------
process {
    errorStrategy = { task.attempt < 2 ? 'retry' : 'ignore' }
    maxRetries = 1
    cpus = 2
    resourceLimits = [
        cpus: 2,           // Max CPUs per process (test)
        memory: '6.GB',   // Max memory per process (test)
        time: '1.h'        // Max time per process (test)
    ]
}

// -----------------------------
// Pipeline parameter overrides for test
// -----------------------------
params {
    config_profile_name        = 'Test profile' // Profile name for reporting
    config_profile_description = 'Minimal test dataset to check pipeline function' // Description
    outdir = 'test_out'                        // Output directory for test run
    // Input data
    input  = params.pipelines_testdata_base_path + 'basecalling/samplesheets/samplesheet.csv' // Test samplesheet
    device = null                             // No specific device for test
    publish_dir_mode = 'copy'                  // Copy outputs for test
    max_cpus = 2                               // Limit CPUs for test
    max_memory = '6.GB'                       // Limit memory for test
    max_time = '1.h'                           // Limit time for test
}

// -----------------------------
// Apptainer (Singularity) container options for test
// -----------------------------
apptainer {
    enabled=true                              // Enable Apptainer for test
    autoMounts=true                           // Automatically mount common host paths
    runOptions = '--writable-tmpfs'           // Use writable tmpfs for container
    cacheDir = "/tmp/apptainer/cache"         // Use /tmp for image cache in test
}